{% extends "base.jinja" %}

{% block body %}
    {% include "partials/navbar.jinja" %}
    <main class="min-h-screen">
        <div class="container-page pt-6 pb-page">
            <div id="error" {% if error %}class="mb-4"{% endif %}>
                {% if error %}
                    {% include "partials/error.jinja" %}
                {% endif %}
            </div>
            {% block content %}{% endblock %}
        </div>
    </main>
{% endblock %}
