<div class="overflow-x-auto"
     hx-get="/system-load-values"
     hx-trigger="every 1s"
     hx-swap="none">
    <table class="min-w-full">
        <tbody>
            {% for key, value in system_load.items() %}
            <tr>
                <td class="px-4 py-2 text-sm text-text-secondary">{{ key }}</td>
                <td class="px-4 py-2 text-sm font-medium text-text-primary">
                    <span id="system-load-{{ loop.index }}">{{ value }}</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
